{% extends "base.html" %}
{% load static %}
{% block content %}

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8">
    				<h5 class="font-weight-bold">{{ name }}</h5>
    				<p>{{ text }}</p>
    			</div>
    			<div class="col-md-4">
    				<p>{{ city }}</p>
    			</div>
    		</div>
            {% for element in collection %}
                <div class="row">
                <h3>{{ element.point }}</h3>
                </div>
                <div class="row">
                  <p>{{ element.address }}</p>
                </div>
                <div class="row">
                  <p>{{ element.description }}</p>
                </div>
            {% endfor %}
            <form method="post" action="/patch_route/{{ id }}" class="contact-form">
              {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
              <div class="form-group d-flex">
                {% if is_user %}
                    <input type="submit" value="Изменить" name="_edit" class="submit px-3">
                    <input type="submit" value="Удалить" name="_delete" class="submit px-3">
                {% endif %}
                <input type="submit" value="Построить" name="_make_route" class="submit px-3">
              </div>
            </form>
    	</div>
    </section>

{% endblock content %}
